html {
  box-sizing: border-box;
  --main-color: #666;
  --middle-color: #444;
  --white-color: #eee;
  --marked-color: #bbb;
  --accent-color: #008080;
  --black-color: #0a0a0a;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.App {
  text-align: center;
}
.colrow-container {
  background-color: var(--main-color);
  display: flex;
}
.colrow-row {
  flex-direction: row;
}
.colrow-col {
  flex-direction: column;
}

.col {
  border: #008080 0.1px solid;
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}
.row {
  border: #80007c 0.1px solid;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.board {
  background-color: var(--accent-color);
  color: var(--white-color);
  width: 250px;
  height: 250px;
  /* border: 10px white solid; */
}

.board-top-column {
  display: flex;
  justify-content: flex-end;
}
.board-bot-column {
  display: flex;
  justify-content: flex-end;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
