html {
  box-sizing: border-box;
  --main-color: #666;
  --middle-color: #444;
  --white-color: #eee;
  --marked-color: #bbb;
  --accent-color: #008080;
  --black-color: #0a0a0a;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.App {
  text-align: center;
}
.colrow-container {
  background-color: var(--main-color);
  display: flex;
}
.colrow-row {
  flex-direction: row;
}
.colrow-col {
  flex-direction: column;
}

.col {
  border: #007070 0.1px solid;
  width: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}
.row {
  border: #007070 0.1px solid;
  height: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

.board {
  background-color: var(--accent-color);
  color: var(--white-color);
  width: 250px;
  height: 250px;
  /* border: 10px white solid; */
}

.board-top-column {
  display: flex;
  justify-content: flex-end;
}
.board-bot-column {
  display: flex;
  justify-content: flex-end;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.number {
  padding: 2px;
  font-size: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.square {
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--middle-color);
  border: var(--black-color) solid 0.1px;
  box-sizing: "border-box";
}
.marked {
  background-color: var(--marked-color);
}
.top {
  border-top-color: var(--accent-color);
}
.bot {
  border-bottom-color: var(--accent-color);
}
.left {
  border-left-color: var(--accent-color);
}
.right {
  border-right-color: var(--accent-color);
}
.grid {
  background-color: var(--middle-color);
  display: "flex";
  justify-content: "center";
  align-items: "center";
  flex-direction: "column";
  /* width: 0.6rem;
  height: 0.6rem; */
}
/* .grid-row {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  width: 192px;
  height: 0.6rem;
} */
